body.yui-skin-sam,
.yui-skin-sam table,
.yui-skin-sam form,
.yui-skin-sam input,
.yui-skin-sam td,
.yui-skin-sam th,
.yui-skin-sam p,
.yui-skin-sam textarea,
.yui-skin-sam select
{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
}
